body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}



header {
  background-color: #007bff;
  color: white;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  
  
}
.task-form{
    text-align: center;
    align-items: center;

}

.form-group{
    padding: 10px;
}




h2{
    text-align: center;
}

#task-list{
    text-align: center;
}