body, html {
    /* height: 100%; */
    margin: 0;
    font-family: "oswald", sans-serif;
    background: linear-gradient(rgb(26, 152, 224), rgb(238, 236, 238));
}

oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

form{
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

h2{
    text-align: center;
}

#task-list{
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    list-style-type: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    

}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: "oswald", sans-serif;
    font-size: 16px;
    color: #143681;
    background-color: #f9faff;
}

button.btn-submit {
    background-color: #1a98e0;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: "oswald", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-submit:hover {
    background-color: #145293;
}


#task-list li {
    background-color: #e6f0fa;
    border-radius: 6px;
    margin: 8px auto;
    padding: 10px 15px;
    width: 600px;
    color: #143681;
    font-weight: 600;
    font-family: "oswald", sans-serif;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Cores para os status das tarefas */
.task-item.status-pendente {
    background-color: #fff3cd; /* Amarelo claro */
    border-left: 5px solid #ffc107; /* Amarelo */
}

.task-item.status-concluido {
    background-color: #d4edda; /* Verde claro */
    border-left: 5px solid #28a745; /* Verde */
}

.task-item.status-cancelado {
    background-color: #f8d7da; /* Vermelho claro */
    border-left: 5px solid #dc3545; /* Vermelho */
}

button.edit-btn {
    background-color: #1a98e0;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    font-family: "oswald", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button.remove-btn {
    background-color: #fa0000;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    font-family: "oswald", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.remove-btn:hover {
    background-color: #881e1e;
}

button.edit-btn:hover {
    background-color: #145293;
}

