<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fã Page Thorfinn</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div class="container">
        <h1 onclick="clicou()">A Redenção de Thorfinn</h1>
        <div class="content">
            <div class="image-card">
<img src="/img/uqxgdla9buf31.jpg" alt="Imagem de Thorfinn">
            </div>
            <div class="text-block">
                <p>Thorfinn Karlsefni é um personagem central da série Vinland Saga. Após anos de guerra e violência como mercenário, ele busca redenção através de uma vida pacífica e a descoberta de novas terras. Sua jornada é marcada por arrependimento e a luta contra seus demônios internos.</p>
            </div>
        </div>
    </div>
</body>

</html>